<div class="section-nav">
    <label class="nav-label yekan-bakh">آموزش ها</label>
    <nav id="navSection" class="nav flex-column">
        <a href="#" class="nav-link">آموزش چگونگی ایجاد برنامه ورزشی </a>
        <a href="#" class="nav-link">آموزش چگونگی ایجاد برنامه غذایی </a>
        <a href="#" class="nav-link">آموزش چگونگی ایجاد تمرین </a>
        <a href="#" class="nav-link">آموزش چگونگی ایجاد پست در اپلیکیشن </a>
        <a href="#" class="nav-link">آموزش چگونگی ایجاد درگاه پرداخت جدید </a>
        <a href="#" class="nav-link">آموزش چگونگی ایجاد دسته بندی </a>
        <a href="#" class="nav-link">آموزش چگونگی ایجاد پکیج برنامه </a>
        <a href="#" class="nav-link">آموزش چگونگی مدیریت کاربران </a>
    </nav>
</div><!-- df-section-nav -->
